* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    display: flex;
}

.sidebar {
    display: flex;
    width: 40vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-image: url("images/bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 130px;
    align-items: center;
}

.logo-img {
    height: 250px;
    width: 250px;
    position: relative;
    top: 35px;
}

.logo-title {
    font-size: 35px;
    font-family: "Pacifico", cursive;
    color: #2c6fa3;
    flex: 0 1 auto;
    position: relative;
    right: 40px
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60vw;
    background-color: #a6dcef83;
    padding: 20px 0;
}
.about {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    height: calc(100vh * 1/3);
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    color: #2c6fa3;
    text-shadow: 0px 0px 8px rgba(44, 111, 163, 0.7);
    line-height: 1.4;
}

.inputs {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.25);
    padding: 20px 30px;
    margin-bottom: -15px;
}

.form-row {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    height: calc(100vh * 2/3);
    gap: 50px;
}

button, .about, .footer {
    margin-left: 30px;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 5px;
    flex: 1;
    max-width: 450px;
    min-width: 0;
}

button {
    background-color: #2c6fa3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
}

button:hover {
   background-color: hsl(206, 57%, 51%); 
}

.login {
    color: #2c6fa3;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
}

label {
    font-size: 16px;
    color: hsl(0, 0%, 30%)
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
    padding-left: 10px;
    border: 1px solid #767676;
    width: 100%;
    min-height: 40px;
}

input:focus {
    outline: none;
    border: 3px solid lightblue;
    box-shadow: 0px 0px 6px lightblue
}

input:focus:invalid {
    outline: none;
    border: 3px solid lightcoral;
    box-shadow: 0px 0px 6px lightcoral;
}

h2 {
    font-size: 20px;
    margin-bottom: 25px;
}

.footer {
    font-weight: 700;
}