* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.sidebar {
    display: flex;
    border: 1px solid red;
    max-width: 40%;
    height: 100vh;
    position: relative;
    align-items: center;
}

.bg-img {
    height: 100%;
    width: 100%;
}

.logo {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
}

.logo-img {
    height: 250px;
    width: 250px;
    position: relative;
    top: 35px;
}

.logo-title {
    font-size: 35px;
    font-family: "Pacifico", cursive;
    position: relative;
    right: 30px;
    color: #2c6fa3
}