* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    display: flex;
}


.sidebar {
    display: flex;
    border: 1px solid red;
    width: 40vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-image: url("images/bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
}

.logo-img {
    height: 250px;
    width: 250px;
    position: relative;
    top: 35px;
}

.logo-title {
    font-size: 35px;
    font-family: "Pacifico", cursive;
    position: relative;
    right: 35px;
    color: #2c6fa3
}

.form-container {
    display: flex;
    border: 1px solid green;
    align-items: center;
    width: 60vw;
    justify-content: center;
}

legend {
    max-width: 300px;
    flex-wrap: wrap;
    border: 1px solid blue;
}