* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    display: flex;
}


.sidebar {
    display: flex;
    border: 1px solid red;
    width: 40vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-image: url("images/bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 130px
}

.logo-img {
    height: 250px;
    width: 250px;
    position: relative;
    top: 35px;
}

.logo-title {
    font-size: 35px;
    font-family: "Pacifico", cursive;
    position: relative;
    right: 35px;
    color: #2c6fa3
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60vw;
    background-color: #a6dcefa1
}
.about {
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    height: calc(100vh * 1/3);
    border: 1px solid red;
    align-items: center;
    font-weight: 900;
}

.inputs {
    display: flex;
    /* border: 1px solid purple; */
    flex-wrap: wrap;
    gap: 15px;
    background-color: white;
    margin-top: 60px;
    min-height: 200px;
    margin-bottom: -10px;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.3);
}

.form-row {
    display: flex;
    /* border: 1px solid blue; */
    width: 60vw;
}

button {
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid pink;
    height: calc(100vh * 2/3);
    gap: 50px;
    
}

button, .about, .footer, .input {
    margin-left: 30px;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

button {
    background-color: #2c6fa3;
    color: white;
    border-radius: 5px;
}

.login {
    color: #2c6fa3;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
}